.glimps-img{
    width: 270px;
    height: 416px;
    border: 1px solid gray ;
    border-radius: 20px;
    margin-right: 7px;
    
}

@media screen and (max-width:400px) {
    .glimps-img{
       margin-bottom: 170px;
       margin-right: 40px;
        width: 150px;
        height:170px;
        
    }
}